///////////////////////////////////
// ZedGrid 1.1 - Semantic Edition
///////////////////////////////////

  // Instructions
  //
  // Activate zedGrid on one or more columns by using the mixin below
  // Requires a fraction numerator, a denominator and a gutter width (in any unit you want)

    @mixin zedGrid($numerator, $denominator, $gutter) {

      //Calculate fraction percentage:
      $percentage: percentage($numerator / $denominator);

      //Determine amount of space that needs to be removed
      //from each column in order to make space for gutters:
      $gutterTax: (($denominator - $numerator) / $denominator) * $gutter;

      //Final width expression:
      $expression: #{$percentage} - #{$gutterTax};

      // Adjust box model to absorb borders/padding:
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

      // Aligning columns:
      float: left;

      // Width fallback for legacy browsers:
      width: $percentage;

      // Calc width for modern browsers:
      width: -webkit-calc(#{$expression});
      width: -moz-calc(#{$expression});
      width: calc(#{$expression});

      //Add margin-based gutters (modern)
      margin-left: calc(#{$gutter});

      // Add padding-based gutters (legacy)
      padding-left: $gutter;

      //Reset padding-based gutters for modern browsers:
      padding-left: calc(0%);

      //Remove gutters if first column in it's parent
      &:first-child {
        margin-left: 0;
        padding-left: 0;
      }

    }
