.grid:after {
  content: "";
  display: table;
  clear: both; }
.grid [class*='column-'] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 20px;
  float: left;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box; }
.grid [class*='column-']:first-child {
  margin-left: 0; }
.grid .column-fill,
.grid .column-1-1,
.grid .column-2-2,
.grid .column-3-3,
.grid .column-4-4,
.grid .column-5-5,
.grid .column-6-6,
.grid .column-7-7,
.grid .column-8-8,
.grid .column-9-9,
.grid .column-10-10,
.grid .column-11-11,
.grid .column-12-12 {
  width: 84%;
  width: -webkit-calc(100% - 0px);
  width: -moz-calc(100% - 0px);
  width: calc(100% - 0px); }
.grid .column-11-12 {
  width: 77.0%;
  width: -webkit-calc(91.66667% - 1.66667px);
  width: -moz-calc(91.66667% - 1.66667px);
  width: calc(91.66667% - 1.66667px); }
.grid .column-10-11 {
  width: 76.36364%;
  width: -webkit-calc(90.90909% - 1.81818px);
  width: -moz-calc(90.90909% - 1.81818px);
  width: calc(90.90909% - 1.81818px); }
.grid .column-9-10 {
  width: 75.6%;
  width: -webkit-calc(90% - 2px);
  width: -moz-calc(90% - 2px);
  width: calc(90% - 2px); }
.grid .column-8-9 {
  width: 74.66667%;
  width: -webkit-calc(88.88889% - 2.22222px);
  width: -moz-calc(88.88889% - 2.22222px);
  width: calc(88.88889% - 2.22222px); }
.grid .column-7-8 {
  width: 73.5%;
  width: -webkit-calc(87.5% - 2.5px);
  width: -moz-calc(87.5% - 2.5px);
  width: calc(87.5% - 2.5px); }
.grid .column-6-7 {
  width: 72%;
  width: -webkit-calc(85.71429% - 2.85714px);
  width: -moz-calc(85.71429% - 2.85714px);
  width: calc(85.71429% - 2.85714px); }
.grid .column-10-12,
.grid .column-5-6 {
  width: 70%;
  width: -webkit-calc(83.33333% - 3.33333px);
  width: -moz-calc(83.33333% - 3.33333px);
  width: calc(83.33333% - 3.33333px); }
.grid .column-9-11 {
  width: 68.72727%;
  width: -webkit-calc(81.81818% - 3.63636px);
  width: -moz-calc(81.81818% - 3.63636px);
  width: calc(81.81818% - 3.63636px); }
.grid .column-8-10,
.grid .column-4-5 {
  width: 67.2%;
  width: -webkit-calc(80% - 4px);
  width: -moz-calc(80% - 4px);
  width: calc(80% - 4px); }
.grid .column-7-9 {
  width: 65.33333%;
  width: -webkit-calc(77.77778% - 4.44444px);
  width: -moz-calc(77.77778% - 4.44444px);
  width: calc(77.77778% - 4.44444px); }
.grid .column-9-12,
.grid .column-6-8,
.grid .column-3-4 {
  width: 63%;
  width: -webkit-calc(75% - 5px);
  width: -moz-calc(75% - 5px);
  width: calc(75% - 5px); }
.grid .column-8-11 {
  width: 61.09091%;
  width: -webkit-calc(72.72727% - 5.45455px);
  width: -moz-calc(72.72727% - 5.45455px);
  width: calc(72.72727% - 5.45455px); }
.grid .column-5-7 {
  width: 60%;
  width: -webkit-calc(71.42857% - 5.71429px);
  width: -moz-calc(71.42857% - 5.71429px);
  width: calc(71.42857% - 5.71429px); }
.grid .column-7-10 {
  width: 58.8%;
  width: -webkit-calc(70% - 6px);
  width: -moz-calc(70% - 6px);
  width: calc(70% - 6px); }
.grid .column-8-12,
.grid .column-6-9,
.grid .column-4-6,
.grid .column-2-3 {
  width: 56.0%;
  width: -webkit-calc(66.66667% - 6.66667px);
  width: -moz-calc(66.66667% - 6.66667px);
  width: calc(66.66667% - 6.66667px); }
.grid .column-7-11 {
  width: 53.45455%;
  width: -webkit-calc(63.63636% - 7.27273px);
  width: -moz-calc(63.63636% - 7.27273px);
  width: calc(63.63636% - 7.27273px); }
.grid .column-5-8 {
  width: 52.5%;
  width: -webkit-calc(62.5% - 7.5px);
  width: -moz-calc(62.5% - 7.5px);
  width: calc(62.5% - 7.5px); }
.grid .column-6-10,
.grid .column-3-5 {
  width: 50.4%;
  width: -webkit-calc(60% - 8px);
  width: -moz-calc(60% - 8px);
  width: calc(60% - 8px); }
.grid .column-7-12 {
  width: 49%;
  width: -webkit-calc(58.33333% - 8.33333px);
  width: -moz-calc(58.33333% - 8.33333px);
  width: calc(58.33333% - 8.33333px); }
.grid .column-4-7 {
  width: 48%;
  width: -webkit-calc(57.14286% - 8.57143px);
  width: -moz-calc(57.14286% - 8.57143px);
  width: calc(57.14286% - 8.57143px); }
.grid .column-5-9 {
  width: 46.66667%;
  width: -webkit-calc(55.55556% - 8.88889px);
  width: -moz-calc(55.55556% - 8.88889px);
  width: calc(55.55556% - 8.88889px); }
.grid .column-6-11 {
  width: 45.81818%;
  width: -webkit-calc(54.54545% - 9.09091px);
  width: -moz-calc(54.54545% - 9.09091px);
  width: calc(54.54545% - 9.09091px); }
.grid .column-6-12,
.grid .column-5-10,
.grid .column-4-8,
.grid .column-3-6,
.grid .column-2-4,
.grid .column-1-2 {
  width: 42%;
  width: -webkit-calc(50% - 10px);
  width: -moz-calc(50% - 10px);
  width: calc(50% - 10px); }
.grid .column-5-11 {
  width: 38.18182%;
  width: -webkit-calc(45.45455% - 10.90909px);
  width: -moz-calc(45.45455% - 10.90909px);
  width: calc(45.45455% - 10.90909px); }
.grid .column-4-9 {
  width: 37.33333%;
  width: -webkit-calc(44.44444% - 11.11111px);
  width: -moz-calc(44.44444% - 11.11111px);
  width: calc(44.44444% - 11.11111px); }
.grid .column-3-7 {
  width: 36%;
  width: -webkit-calc(42.85714% - 11.42857px);
  width: -moz-calc(42.85714% - 11.42857px);
  width: calc(42.85714% - 11.42857px); }
.grid .column-5-12 {
  width: 35%;
  width: -webkit-calc(41.66667% - 11.66667px);
  width: -moz-calc(41.66667% - 11.66667px);
  width: calc(41.66667% - 11.66667px); }
.grid .column-2-5,
.grid .column-4-10 {
  width: 33.6%;
  width: -webkit-calc(40% - 12px);
  width: -moz-calc(40% - 12px);
  width: calc(40% - 12px); }
.grid .column-3-8 {
  width: 31.5%;
  width: -webkit-calc(37.5% - 12.5px);
  width: -moz-calc(37.5% - 12.5px);
  width: calc(37.5% - 12.5px); }
.grid .column-4-11 {
  width: 30.54545%;
  width: -webkit-calc(36.36364% - 12.72727px);
  width: -moz-calc(36.36364% - 12.72727px);
  width: calc(36.36364% - 12.72727px); }
.grid .column-4-12,
.grid .column-3-9,
.grid .column-2-6,
.grid .column-1-3 {
  width: 28.0%;
  width: -webkit-calc(33.33333% - 13.33333px);
  width: -moz-calc(33.33333% - 13.33333px);
  width: calc(33.33333% - 13.33333px); }
.grid .column-3-10 {
  width: 25.2%;
  width: -webkit-calc(30% - 14px);
  width: -moz-calc(30% - 14px);
  width: calc(30% - 14px); }
.grid .column-2-7 {
  width: 24%;
  width: -webkit-calc(28.57143% - 14.28571px);
  width: -moz-calc(28.57143% - 14.28571px);
  width: calc(28.57143% - 14.28571px); }
.grid .column-3-11 {
  width: 22.90909%;
  width: -webkit-calc(27.27273% - 14.54545px);
  width: -moz-calc(27.27273% - 14.54545px);
  width: calc(27.27273% - 14.54545px); }
.grid .column-3-12,
.grid .column-2-8,
.grid .column-1-4 {
  width: 21%;
  width: -webkit-calc(25% - 15px);
  width: -moz-calc(25% - 15px);
  width: calc(25% - 15px); }
.grid .column-2-9 {
  width: 18.66667%;
  width: -webkit-calc(22.22222% - 15.55556px);
  width: -moz-calc(22.22222% - 15.55556px);
  width: calc(22.22222% - 15.55556px); }
.grid .column-1-5,
.grid .column-2-10 {
  width: 16.8%;
  width: -webkit-calc(20% - 16px);
  width: -moz-calc(20% - 16px);
  width: calc(20% - 16px); }
.grid .column-2-11 {
  width: 15.27273%;
  width: -webkit-calc(18.18182% - 16.36364px);
  width: -moz-calc(18.18182% - 16.36364px);
  width: calc(18.18182% - 16.36364px); }
.grid .column-2-12,
.grid .column-1-6 {
  width: 14.0%;
  width: -webkit-calc(16.66667% - 16.66667px);
  width: -moz-calc(16.66667% - 16.66667px);
  width: calc(16.66667% - 16.66667px); }
.grid .column-1-7 {
  width: 12%;
  width: -webkit-calc(14.28571% - 17.14286px);
  width: -moz-calc(14.28571% - 17.14286px);
  width: calc(14.28571% - 17.14286px); }
.grid .column-1-8 {
  width: 10.5%;
  width: -webkit-calc(12.5% - 17.5px);
  width: -moz-calc(12.5% - 17.5px);
  width: calc(12.5% - 17.5px); }
.grid .column-1-9 {
  width: 9.33333%;
  width: -webkit-calc(11.11111% - 17.77778px);
  width: -moz-calc(11.11111% - 17.77778px);
  width: calc(11.11111% - 17.77778px); }
.grid .column-1-10 {
  width: 8.4%;
  width: -webkit-calc(10% - 18px);
  width: -moz-calc(10% - 18px);
  width: calc(10% - 18px); }
.grid .column-1-11 {
  width: 7.63636%;
  width: -webkit-calc(9.09091% - 18.18182px);
  width: -moz-calc(9.09091% - 18.18182px);
  width: calc(9.09091% - 18.18182px); }
.grid .column-1-12 {
  width: 7.0%;
  width: -webkit-calc(8.33333% - 18.33333px);
  width: -moz-calc(8.33333% - 18.33333px);
  width: calc(8.33333% - 18.33333px); }
